selenium==3.141.0
pandas==1.0.0
pyvirtualdisplay==0.2.5
lxml==4.6.3
google_api_python_client==1.8.2
google-auth==1.14.2
requests==2.22.0
html5lib==1.1
beautifulsoup4==4.9.1
icecream==2.1.0
# Use my webhook
# apprise>=0.8.4
